* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 166, 166);
}

.thumbnail {
  height: auto;
  max-height: 25vh;
  max-width: 100%;
  border: solid 5px rgb(223, 166, 166);
  border-radius: 25px;
}

/* viewport height (vh) - used for responsive design */

.fullscreen {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: contain;
  margin: auto;
}

#next {
  right: 10px;
}

#previous {
  left: 10px;
}

#next,
#previous {
  position: absolute;
  padding: 10px;
  background-color: rgb(170, 221, 170, 0.5);
  font-size: 0.8rem;
  color: rgb(29, 31, 30);
  font-family: Trebuchet MS;
  cursor: pointer;
  border: solid 2px rgb(131, 146, 131);
  border-radius: 15px;
  top: 100px;
  z-index: 1;
}

#next:hover,
#previous:hover {
  background-color: rgb(136, 139, 138);
  border: solid 2px rgb(136, 139, 138);
}

#thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 20px;
  width: 90%;
  margin: auto;
}

#fullscreen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
}

@media (max-width: 800px) {
  #thumbnail-container {
    padding: 10px;
    gap: 10px;
    border: solid 5px rgb(223, 166, 166);
    border-radius: 25px;
  }
}
